@model CategoryVM

<div class="d-flex align-items-center justify-content-center mt-5">
    <form asp-action="Delete" method="post">
        <div>
            <h2>'@Model.Name' türünü silmek istiyor musunuz?</h2>
        </div>
        <div>
            <input class="form-control" type="hidden" asp-for="Id" />
        </div>
        <div class="d-flex align-items-center justify-content-center mt-5">
            <button type="submit" class="btn-lg btn-danger">Sil</button>
            <a class="btn-lg btn-info ms-5" asp-action="GetAll">Vazgeç</a>
        </div>
    </form>
</div>
