@model CategoryVM

<div style="height:600px; overflow-y:scroll">
    <table class="table table-secondary table-striped table-hover">
        <thead>
            <tr>
                <th>Kategori Adı</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.Categories)
            {
                <tr>
                    <td>@item.Name</td>
                    <td class="text-end">
                        <div>
                            <a asp-action="Recover" asp-route-id="@item.Id" class="btn btn-light">Geri Getir</a>
                            <a asp-action="Remove" asp-route-id="@item.Id" class="btn btn-danger">Kaldır</a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>

    </table>
</div>
