@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Şifreni değiştirmek için onaylamana ihtiyacımız var.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Şifreni yenilemek için lütfen Mail hesabını kontrol et.
</p>
